<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Deck</title>
    <link rel="stylesheet" href="{% static 'Ryugiohproject_app/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'Ryugiohproject_app/css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'Ryugiohproject_app/css/scroll.css' %}">
</head>
<body>
    <header id="top-menu">
        <a href="/"><img src="{% static 'Ryugiohproject_app/logo.png' %}" width="80" height="80"></a>
        <ul>
            <li><a href="#">로그인</a></li>
            <li><a href="#">회원가입</a></li>
        </ul>
    </header>

    <div id="card-info">
        <!-- 카드 정보가 여기에 표시됩니다 -->
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            fetchCharacterDeck();

            function fetchCharacterDeck() {
                const character = 'yugi'; // 원하는 캐릭터 이름으로 변경
                fetch(`/api/character-deck/${character}/`)
                    .then(response => response.json())
                    .then(data => {
                        const cardInfoDiv = document.getElementById('card-info');
                        cardInfoDiv.innerHTML = data.map(card => `
                            <div class="card">
                                <img src="${card.card_images}" alt="${card.name}">
                            </div>
                        `).join('');
                    })
                    .catch(error => console.error('Error fetching card details:', error));
            }
        });
    </script>
</body>
</html>
