<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Ryugiohproject_app/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'Ryugiohproject_app/css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'Ryugiohproject_app/css/scroll.css' %}">
</head>
<body>
    <header id="top-menu">
        <a href=""><img src="{% static 'Ryugiohproject_app/logo.png' %}" width="80" height="80"></a>
        <ul>
            <li><a href="#">로그인</a></li>
            <li><a href="#">회원가입</a></li>
        </ul>
    </header>

    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
            <source src="{% static 'Ryugiohproject_app/video.mp4' %}" type="video/mp4">
        </video>
    </div>
    <header id="middle-menu">
        <ul class="left-memu">
            <li><a href="#">캐릭터 덱 보기</a></li>
            <li><a href="#">모든 카드 보기</a></li>
            <li><a href="#">게임 가이드</a></li>
        </ul>
        <ul class="center-logo">
            <a href="" class="center-logo-image"><img src="{% static 'Ryugiohproject_app/logo.png' %}" width="80" height="80"></a>
        </ul>
        <ul class="right-memu">
            <li><a href="#">로그인</a></li>
            <li><a href="#">회원가입</a></li>
        </ul>
    </header>
    <div id="scroll-link">
        <a id="scroll-link_icon">
            <span></span>
            <h2 id="scroll-link_text">스크롤</h2>
        </a>
    </div>

    <div class="base_div">
        <div class="base_text">
            <h2>삼환신</h2>
            <br>
            <span>카드 정보</span>
            <br>
            <span class="line">Legend Cards</span>
        </div>
        <div class="fade-wrap">
            <div class="container">
                <div class="overlay"></div>
                <div class="card"></div>
            </div>
        </div>
        <div class="fade-wrap">
            <div class="container">
                <div class="overlay"></div>
                <div class="card"></div>
            </div>
        </div>
        <div class="fade-wrap">
            <div class="container">
                <div class="overlay"></div>
                <div class="card"></div>
            </div>
        </div>
        <div class="fade-wrap">
            <div class="container">
                <div class="overlay"></div>
                <div class="card"></div>
            </div>
        </div>
        <div class="base_text">
            <h2>삼환신</h2>
            <br>
            <span style="font-size: 40px">카드 정보</span>
            <br>
            <span class="line">Legend Cards</span>
        </div>
        <div class="fade-wrap">
            <div class="container">
                <div class="overlay"></div>
                <div class="card"></div>
            </div>
        </div>
        <div class="fade-wrap">
            <div class="container">
                <div class="overlay"></div>
                <div class="card"></div>
            </div>
        </div>
        <div class="fade-wrap">
            <div class="container">
                <div class="overlay"></div>
                <div class="card"></div>
            </div>
        </div>
        <div class="fade-wrap">
            <div class="container">
                <div class="overlay"></div>
                <div class="card"></div>
            </div>
        </div>
        <div class="base_text">
            <h2>삼환신</h2>
            <br>
            <span style="font-size: 40px">어쩌구 저쩌구 카드 정보</span>
            <br>
            <span class="line">Legend Cards</span>
        </div>
        <div class="fade-wrap">
            <div class="container">
                <div class="overlay"></div>
                <div class="card"></div>
            </div>
        </div>
        <div class="fade-wrap">
            <div class="container">
                <div class="overlay"></div>
                <div class="card"></div>
            </div>
        </div>
        <div class="fade-wrap">
            <div class="container">
                <div class="overlay"></div>
                <div class="card"></div>
            </div>
        </div>
        <div class="fade-wrap">
            <div class="container">
                <div class="overlay"></div>
                <div class="card"></div>
            </div>
        </div>
        <div class="fade-wrap">
            <div class="container">
                <div class="overlay"></div>
                <div class="card"></div>
            </div>
        </div>
        <div class="fade-wrap">
            <div class="container">
                <div class="overlay"></div>
                <div class="card"></div>
            </div>
        </div>
    </div>

    <script src="{% static 'Ryugiohproject_app/js/card.js' %}"></script>
    <script src="{% static 'Ryugiohproject_app/js/menu.js' %}"></script>
    <script src="{% static 'Ryugiohproject_app/js/scroll.js' %}"></script>
</body>
</html>
