html,
body {
  height: 100%;
  margin: 0;
  background-color: white;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
}

/* 맨 위 메뉴바의 스타일 */

.bg-video {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}

.bg-video {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.base_div {
  margin-top: 250px;
  height: auto;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap; /* 줄바꿈을 위한 속성 */
  justify-content: center; /* 중앙 정렬을 위해 추가 */
  /* 그림자 적용 */
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
  flex: 1; /* 추가된 부분 */
}

.base_div .base_text {
  height: auto; /* height 값을 auto로 변경 */
  padding: 30px 0px;
  width: 100%;
  text-align: center;
  font-size: 25px;
}

/* 카드 나타나기 */
.base_div .fade-wrap {
  transition: 2s;
  opacity: 0;

  /* 왼쪽에서 오른쪽으로 나타나게 하기 위함 */
  position: relative;
  left: -50px;

  margin-bottom: 20px;
}

.line {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin: 8px 0px;
}

.line::before {
  content: '';
  flex-grow: 1;
  margin: 10px 42px;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.line::after {
  content: '';
  flex-grow: 1;
  margin: 10px 42px;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.base_div .fade-wrap.fade-in {
  opacity: 1;
  left: 0;
}

.middle-header {
  width: 100vw;
  margin-top: 200px;
  background-position: center center;
  background-color: yellow;
  height: 580px;
  background-image: url('/static/main_banner.png');
  background-repeat: no-repeat;
  background-color: black;
}

.middle-header img {
  max-width: 100%;
  height: auto;
  display: block; /* 블록 요소로 설정 */
}

footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: relative;
}
